.index_tabPane {
  width: 150px;
  height: 200px;
  margin: auto;
  text-align: center;
  background: #89878C;
  border-radius: 150%;
  padding-top: 40%;
}

.index_TabPane:hover {
  background: #4CAF50;
  border: 1px solid black;
}

.index_Title {
  margin: auto;
  padding-top: 20%;
  color: black;
  font-size: 32px;
}

.index_Title:hover {
  color: white;
}

.index_LinkFont {
    margin: auto 12% auto auto;
  }


.indexStyles_LinkFont:hover {
  color: white;
}
