.indexStyles_tabPane {
  width: 150px;
  height: 200px;
  margin: auto;
  text-align: center;
  background: #89878C;
  border-radius: 150%;
  padding-top: 40%;
}

.indexStyles-tabPane:hover {
  background: #4CAF50;
  border: 1px solid black;
}

.indexStyles_title {
  margin: auto;
  padding-top: 20%;
  color: black;
  font-size: 32px;
}

.indexStyles-title:hover {
  color: white;
}

.indexStyles_linkFont {
    margin: auto 12% auto auto;
  }


.indexStyles-linkFont:hover {
  color: white;
}
